<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Shopping App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/themes/light.css" />
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/shoelace-autoloader.js"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'stores/base.css' %}">
    {% block static %}
    {% endblock %}
</head>

<body class="body-block">
    {% block navbar %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>