<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Shopping App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/themes/light.css" />
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/shoelace-autoloader.js"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'stores/base.css' %}">
    {% block static %}
    {% endblock %}
</head>

<body class="body-block">
    <header class="navbar">
        <div class="navbar-item">
            <h2>{{ page_title }}</h2>
            <div class="menu-list-button">
                <sl-icon-button name="speedometer" onclick="window.location.href='/shopping/dashboard/'" />
            </div>
            <div class="menu-list-button">
                <sl-icon-button name="bag" onclick="window.location.href='/items/me'" />
            </div>
            {% if not is_overview %}
            <div class="menu-list-button">
                <sl-icon-button name="shop-window" onclick="window.location.href='/stores/me'" />
            </div>
            {% endif %}
            {% if not is_personal and show_advanced_navigation and is_overview %}
            <div class="menu-list-button">
                <sl-icon-button name="person" onclick="window.location.href='/stores/me'" />
            </div>
            {% endif %}
            {% if is_personal and show_advanced_navigation and is_overview %}
            <div class="menu-list-button">
                <sl-icon-button name="people" onclick="window.location.href='/stores'" />
            </div>
            {% endif %}
            {% if show_advanced_navigation %}
            <div class="menu-list-button">
                <sl-icon-button name="plus-circle" onclick="window.location.href='/stores/create'" />
            </div>
            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
