CHANGELOG.md
LICENSE
Makefile
README.md
Pipfile
Pipfile.lock
.gitignore
dev-requirements.txt
.pytest_cache
*/migrations/*
!*/migrations/__init__.py
sonar-project.properties
pytest.ini
Dockerfile
*/tests/*
*/tests.py
.dockerignore
!shoppingapp/settings/__init__.py
!shoppingapp/settings/settings.py
!shoppingapp/settings/dev_settings.py
.env
windows/*