# POSTGRES CONFIG
POSTGRES_PASSWORD=password
POSTGRES_DB=init

# PGADMIN CONFIG
PGADMIN_DEFAULT_EMAIL=tester@gmail.com
PGADMIN_DEFAULT_PASSWORD=tester@gmail.com

# SHOPPING APP CONFIG
SHOPPING_DJANGO_KEY=django-postgres-dev-local
SHOPPING_DJANGO_HOST=localhost
SHOPPING_INTERNAL_HOST=shopping-django-site
SHOPPING_DATABASE_NAME=shopping-db
SHOPPING_DATABASE_USER=postgres
SHOPPING_DATABASE_PASSWORD=password
SHOPPING_DB_HOST=shopping-db
SHOPPING_DB_PORT=5432
SHOPPING_REDIS_HOST=shopping-redis
SHOPPING_DEV=1

DJANGO_SETTINGS_MODULE=shoppingapp.settings.test_settings
