:80 {
  handle_path /* {
    reverse_proxy dev-shopping-django-app:80
  }

  handle_path /static/* {
    root * /var/www/html/static/
    file_server
  }

  handle_path /shopping/coverage/* {
    root * /var/www/html/htmlcov/
    file_server
  }

  handle_path /pgadmin* {
    rewrite * /pgadmin{uri}
    reverse_proxy dev-shopping-app-pgadmin:80
  }
}
