-i https://pypi.org/simple
annotated-types==0.6.0; python_version >= '3.8'
asgiref==3.7.2; python_version >= '3.7'
django==4.2.7; python_version >= '3.8'
django-ninja==1.1.0; python_version >= '3.7'
psycopg[binary]==3.1.13; python_version >= '3.7'
psycopg-binary==3.1.13
pydantic==2.5.2; python_version >= '3.7'
pydantic-core==2.14.5; python_version >= '3.7'
sqlparse==0.4.4; python_version >= '3.5'
typing-extensions==4.8.0; python_version >= '3.8'
