caption {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem;
}

th {
    height: 40px;
    border: 1px solid;
    border-radius: 0.5rem;
}

td {
    height: 40px;
    border: 1px solid;
    padding-left: 1rem;
}

a {
    color: #2f48a2;
}

.table-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    margin: 8px;
}

.overview-table {
    background-color: #fff;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid;
    border-collapse: collapse;
}

.pagination {
    display: flex;
    justify-content: center;
}

.options-header {
    width: 50px;
}

.alt-menu-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0rem !important;
    margin: 0rem !important;
}

.alt-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0rem !important;
    margin: 6px 8px !important;
    border-radius: 20px;
}
