{% extends 'stores/base.html' %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/detail.css' %}">
<link rel="stylesheet" href="{% static 'base/cards.css' %}">
<link rel="stylesheet" href="{% static 'base/table.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper-soft">
    <div class="card-wrapper">
        <div class="mini-card name-card">
            <div class="mini-card-icon name-card-icon">
                <sl-icon name="shop" />
            </div>
            <div class="mini-card-content">
                <p class="value">Store</p>
                <p id="store-name-sub-value" class="sub-value">{{ store.name }}</p>
            </div>
        </div>
        <div class="mini-card store-card">
            <div class="mini-card-icon store-card-icon">
                <sl-icon name="globe" />
            </div>
            <div class="mini-card-content">
                <p class="value">Store Type</p>
                {% if store.store_type == 1 %}
                <p id="store-type-sub-value" class="sub-value">Online</p>
                {% elif store.store_type == 2 %}
                <p id="store-type-sub-value" class="sub-value">In-Store</p>
                {% else %}
                <p id="store-type-sub-value" class="sub-value">Online & In-Store</p>
                {% endif %}
            </div>
        </div>
        <div class="mini-card number-of-items-card">
            <div class="mini-card-icon number-of-items-card-icon">
                <sl-icon name="bag" />
            </div>
            <div class="mini-card-content">
                <p class="value">Number of items</p>
                <p id="number-of-items-sub-value" class="sub-value">{{items.total}}</p>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="mini-card created-on-card">
            <div class="mini-card-icon created-on-card-icon">
                <sl-icon name="clock-history" />
            </div>
            <div class="mini-card-content">
                <p class="value">Created on</p>
                <p id="created-on-sub-value" class="sub-value">{{store.created_at}} UTC</p>
            </div>
        </div>
        <div class="mini-card user-card">
            <div class="mini-card-icon user-card-icon">
                <sl-icon name="person-circle" />
            </div>
            <div class="mini-card-content">
                <p class="value">Created by</p>
                <p id="user-sub-value" class="sub-value">{{store.user.username}}</p>
            </div>
        </div>
        <div class="mini-card last-updated-card">
            <div class="mini-card-icon last-updated-card-icon">
                <sl-icon name="clock" />
            </div>
            <div class="mini-card-content">
                <p class="value">Last updated</p>
                <p id="last-updated-sub-value" class="sub-value">{{ store.updated_at }} UTC</p>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="overview-table">
            <caption>Store Items</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items.items %}
                <tr class="store-item-row">
                    <td><a href="/items/detail/{{ item.id }}">{{ item.name }}</a></td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.user.username }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if items.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ items.previous_page }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ items.page_number }} of {{ items.total_pages }}.
            </span>

            {% if items.has_next %}
            <a href="?page={{ items.next_page }}">next</a>
            <a href="?page={{ items.total_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}