{% extends "auth/base.html" %}

{% block content %}
<div class="auth-block">
    <div class="auth-top">
        <h2 id="auth-heading">TOKEN</h2>
    </div>
    {% if error %}
    <div class="auth-middle">
        <p>{{ error }}</p>
    </div>
    {% endif %}
    <div class="auth-bottom">
        <div class="form-row disclaimer">
            <p>
                Please store your token in a safe place. You will not be able to retrieve it again.
            </p>
        </div>
        <div class="form-row disclaimer">
            <p id="api-token">
                {{ token }}
            </p>
        </div>
    </div>
</div>
{% endblock %}