.total-card {
    background-color: #602786;
    color: #ffffff;
}

.total-in-stores-card,
.total-price-card {
    background-color: #3b5fe2;
    color: #fff;
}

.total-online-stores-card,
.average-price-card {
    background-color: #ffffff;
    color: #000000;
}

.total-card-icon {
    background-color: #562f6f;
}

.total-in-stores-icon,
.total-price-icon {
    background-color: #2f48a2;
}

.total-online-stores-icon,
.average-price-card-icon {
    background-color: #FFC107;
}
