<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Shopping App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/themes/light.css" />
    <script 
        type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/shoelace-autoloader.js"
    ></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    {% block static %}
    {% endblock %}
</head>

<body 
    id="body-block" 
    class="body-block"
>
    <header class="navbar">
        <div class="navbar-item">
            <h2>{{ page_title }}</h2>
            <div class="menu-list-button">
                <a href="{% url 'dashboard' %}">
                    <sl-icon-button 
                        id="dashboard-button"
                        name="speedometer"
                    />
                    Dashboard
                </a>
            </div>
            {% if not is_overview %}
            <div class="menu-list-button">
                <a href="{% url 'item_personalized_overview_page' %}">
                    <sl-icon-button 
                        id="my-items-button"
                        name="bag"
                    />
                    My Items
                </a>
            </div>
            {% endif %}
            <div class="menu-list-button">
                <a href="{% url 'store_personal_overview_page' %}">
                    <sl-icon-button 
                        id="my-stores-button"
                        name="shop-window" 
                />
                My Stores
                </a>
            </div>
            {% if not is_personal and show_advanced_navigation and is_overview %}
            <div class="menu-list-button">
                <a href="{% url 'item_personalized_overview_page' %}">
                    <sl-icon-button 
                        id="alternative-my-items-button"
                        name="person" 
                    />
                    My Items
                </a>
            </div>
            {% endif %}
            {% if is_personal and show_advanced_navigation and is_overview %}
            <div class="menu-list-button">
                <a href="{% url 'item_overview_page' %}">
                    <sl-icon-button 
                        id="all-items-button"
                        name="people" 
                    />
                    All Items
                </a>
            </div>
            {% endif %}
            {% if show_advanced_navigation %}
            <div class="menu-list-button">
                <a href="{% url 'item_create_page' %}">
                    <sl-icon-button 
                        id="create-item-button"
                        name="plus-circle" 
                    />
                    Create Item
                </a>
            </div>
            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
