<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Shopping App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/themes/light.css" />
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/shoelace-autoloader.js"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'items/base.css' %}">
    <link rel="stylesheet" href="{% static 'items/form.css' %}">
</head>

<body class="body-block">
    <header class="navbar">
        <div class="navbar-item">
            <h2>Create Store</h2>
            <div class="menu-list-button">
                <sl-icon-button name="speedometer" onclick="window.location.href='/shopping/dashboard/'" />
            </div>
            <div class="menu-list-button">
                <sl-icon-button name="bag" onclick="window.location.href='/items/me'" />
            </div>
            <div class="menu-list-button">
                <sl-icon-button name="shop-window" onclick="window.location.href='/items/stores/me'" />
            </div>
        </div>
    </header>
    <div class="content-wrapper">
        <div class="form-wrapper">
            <div class="form-top create-top">
                <h2 id="form-heading">Create Store</h2>
            </div>
            {% if error %}
            <div class="form-middle">
                <p class="error-message">{{ error }}</p>
            </div>
            {% endif %}
            <form class="form-bottom" action="{% url 'create_store_action' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="form-row">
                        <legend>Store Details</legend>
                    </div>
                    <div class="form-row">
                        <label for="store-input">Store:</label>
                        <input class="text-input" type="text" name="store-input" id="store-input">
                    </div>
                    <div class="form-row">
                        <label for="store-type-input">Store Type:</label>
                        <select class="text-input" name="store-type-input" id="store-type-input">
                            <option value="1">Online</option>
                            <option value="2">In-Store</option>
                            <option value="3">Both</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <label for="description-input">Description:</label>
                        <input class="text-input" type="text" name="description-input" id="description-input">
                    </div>
                    <div class="form-row submit-row">
                        <input class="submit-input" type="submit" value="Create Store">
                    </div>
                    <div class="form-row submit-row">
                        <input class="cancel-input" type="button" value="Cancel"
                            onclick="window.location.href='/items/stores/me'">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>