{% extends "auth/base.html" %}

{% block content %}
<div class="auth-block">
    <div class="auth-top">
        <h2 id="auth-heading">TOKEN</h2>
    </div>
    {% if error %}
    <div class="auth-middle">
        <p>{{ error }}</p>
    </div>
    {% endif %}
    <div class="auth-bottom" method="post" action="{% url 'login_action' %}">
        {% csrf_token %}
        <div class="form-row disclaimer">
            <p id="api-token">
                {{ token }}
            </p>
        </div>
    </div>
</div>
{% endblock %}