.card {
    font-family: "Roboto", sans-serif;
    margin: 0.2rem;
    border-radius: 0.5rem;

    .card-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            cursor: pointer;
            color: #ffffff;

            &:hover,
            &:active,
            &:visited,
            &:focus,
            &:link {
                text-decoration: none;
            }
        }

        .left-icon {
            margin: 1rem 0 0 1rem;
            width: 50px;
            height: 50px;
            border-radius: 0.3rem;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left-icon:hover {
            opacity: 0.5;
        }

        .right-icon {
            margin: 1rem 1rem 0 0;
            width: 50px;
            height: 50px;
            border-radius: 0.3rem;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right-icon:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    .card-content {
        margin: 1rem 0 0 1rem;
        color: #ffffff;
        font-weight: bold;

        h1 {
            margin-bottom: 0.3rem !important;
        }

        h2,
        h4 {
            padding: 0rem;
            margin: 0rem;
        }

        h4 {
            font-weight: 400;
        }
    }
}