sl-icon {
    height: 20px;
    width: 20px;
}

.value {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0rem;
    margin: 0rem;
    font-weight: bold;
}

.sub-value {
    line-height: 1.5;
    padding: 0rem;
    margin: 0rem;
    font-weight: 400;
}

.card-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 96vw;
}

.mini-card {
    margin: 0.3rem;
    border-radius: 0.5rem;
    height: 96px;
    display: flex;
    align-items: center;
    width: 33%;
}

.mini-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin: 0.5rem;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 0.3rem;
}
