-i https://pypi.org/simple
black==23.10.1; python_version >= '3.8'
click==8.1.7; python_version >= '3.7'
flake8==6.1.0; python_full_version >= '3.8.1'
mccabe==0.7.0; python_version >= '3.6'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==23.2; python_version >= '3.7'
pathspec==0.11.2; python_version >= '3.7'
platformdirs==3.11.0; python_version >= '3.7'
pycodestyle==2.11.1; python_version >= '3.8'
pydocstyle==6.3.0; python_version >= '3.6'
pyflakes==3.1.0; python_version >= '3.8'
snowballstemmer==2.2.0
tomli==2.0.1; python_version < '3.11'
typing-extensions==4.8.0; python_version < '3.11'
certifi==2023.7.22; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
idna==3.4; python_version >= '3.5'
requests==2.31.0; python_version >= '3.7'
urllib3==2.0.7; python_version >= '3.7'
